body {
    background-color: rgba(0, 0, 0, 0.0001);
}

span {
    text-transform: uppercase;
    color: #0023DB;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    letter-spacing: 2.7px;
}

.home {
margin-left: 58px;
}

.photoapp {
    margin-left: 58px;
}

.design {
    margin-left: 58px;
}

.download {
    margin-left: 58px;
}

.menu {
    width: 720px;
    height: 15px;
    margin-top: 32px;
    margin-bottom: 32px;
    left: 50%;
    margin-left: -360px;
    position: relative;
}

a {
    text-decoration: none;
}

a:visited {
    color: #0023DB;
}

a:hover {
    color: cornflowerblue;
}

.img {

    width: 100%;
    height: 100%;
    text-align: center;

}

h1 {
    text-align: center;
    margin-top: 47px;
    margin-bottom: 44px;
    text-transform: uppercase;
    font-family: Montserrat;
    letter-spacing: 3.3px;
    font-size: 22px;
    color: #373737;
    font-weight: bold;
}

.paragraph1, .paragraph2 {
    text-align: center;
    font-family: Montserrat;
    font-size: 16px;
    letter-spacing: 2.4px;
    color: #373737;
    margin-top: 25px;
    margin-left: 68px;
    margin-right: 67px;
    position: relative;
    line-height: 24px;
}

button {
    display: block;
    margin: 53px auto;
    width: 194px;
    height: 54px;
    border-radius: 5px;
    background-color: #0023DB;
    color: #FFFFFF;
    font-family: Montserrat;
    font-weight: bold;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.rights {
    display: block;
    align-items: flex-end;
    font-size: 16px;
    font-weight: bold;
    font-family: Montserrat;
    color: #373737;
    text-align: right;
    margin-right: 120px;
    letter-spacing: 2.4px;
    padding: 10px;
    margin-bottom: 55px;

}